body {
  margin: 0;
  margin: auto;
  max-height: 768px;
  font-family: 'Kelly Slab', cursive;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
  color: #baffba;

  transition: color .2s linear, font-size .1s linear;
}

a:hover {
  color: #8ed98e;
  font-size: 24.5px;
}

/*
font-family: 'Amatic SC', cursive;
font-family: 'Kelly Slab', cursive;
*/

.vibor {
  margin: 50px;
  font-size: 30px;
  color: black;
}

.genius {
  color: black;
  font-size: 70px;
  margin-top: 30%;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}




.zagolovok {
  height: 65px;
  background-color: #808080;
  text-align: center;
  font-size: 50px;
  color: #98ff98;
}

.leftbar {
  background-color: #636363;
  box-shadow: 0 0 5px 1px #636363;
  width: 17%;
  margin: 20px 0 0 10px;
  font-size: 24px;
  max-height: 580px;
  overflow: auto;
  border-radius: 2px;

  float: left;
}

.familiya {
  line-height: 1.5;
  width: 180px;
  margin-left: 10px;
  padding-left: 5px;
  margin-top: 20px;
  border-bottom: 1px solid #98ff98;
  color: #98ff98;
}

.info{
  width: 77%;
  height: 100%;
  color: white;
  display: inline-block;
  box-shadow: 25 0 15px 1px #fff;
  margin: 20px 0 0 20px;
  background-color: #fff;
}

.photo {
  float: right;
  width: auto;
  margin: auto;
}

.photo1 {
  width: 290px;
  height: 190px;
  margin: 20px 20px;
  box-shadow: 0 0 15px 1px #cdcdcd;
  border-radius: 2px;
}

.opisanie {
  margin: 25px 25px;
  font-size: 25px;
  color: #494949;
}

.fact {
  width: 70%;
  margin-left: 25px;
  background-color: #b7b7b7;
  box-shadow: 0 0 15px 1px #b7b7b7;
  font-size: 30px;
  border-radius: 15px;
}

.fact_text {
  color: white;
  font-family: 'Amatic SC', cursive;
  padding: 15px 0 0 15px;
}

.kak {
  color: #000;
  text-align: center;
  margin-top: 30px;
}
