body {
  margin: 0;
  margin: auto;
  max-height: 768px;
  font-family: 'Kelly Slab', cursive;
}

a{
  text-decoration: none;
  color: #98ff98;

  transition: color .2s linear, font-size .1s linear;
}

a:hover {
  color: #8ed98e;
  font-size: 24.5px;
}

/*
font-family: 'Amatic SC', cursive;
font-family: 'Kelly Slab', cursive;
*/

.vibor {
  margin: 50px;
  font-size: 30px;
  color: black;
}




.zagolovok {
  height: 85px;
  background-color: #808080;
  text-align: center;
  font-size: 60px;
  color: #98ff98;
}

.leftbar {
  background-color: #3d3d3d;
  width: 20%;
  font-size: 24px;
  max-height: 580px;
  overflow: auto;

  float: left;
}

.familiya {
  line-height: 1.5;
  width: 180px;
  margin-left: 10px;
  padding-left: 5px;
  margin-top: 20px;
  border-bottom: 2px solid #98ff98;
  color: #98ff98;
}

.info{
  width: 75%;
  height: 560px;
  color: white;
  display: inline-block;
  box-shadow: 0 0 15px 1px #dcdddc;
  margin: 20px 20px;
  background-color: #dcdddc;
  border-radius: 15px;
}

.photo {
  float: right;
  width: auto;
  margin: auto;
}

.photo1 {
  width: 290px;
  height: 190px;
  margin: 20px 20px;
  box-shadow: 0 0 15px 1px #cdcdcd;
  border-radius: 5px;
}

.opisanie {
  margin: 25px 25px;
  font-size: 20px;
  color: #808080;
}

.fact {
  width: 70%;
  margin-left: 25px;
  background-color: #cdcdcd;
  box-shadow: 0 0 15px 1px #cdcdcd;
  font-size: 30px;
  border-radius: 15px;
}

.fact_text {
  font-family: 'Amatic SC', cursive;
  padding: 15px;
}
